{% extends "admin/login.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'microsoft/css/login.css' %}"/>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <style>
        .login {
            background: #00AAA7 !important;
        }

        .login-logo {
            text-align: center;
        }

        .d-none {
            display: none;
        }
    </style>
    {{ form.media }}
{% endblock %}


{% block content %}

    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}
            {% else %}
                {% trans "Please correct the errors below." %}
            {% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <div id="content-main">

        {% if user.is_authenticated %}
            <p class="errornote">
                {% blocktrans trimmed %}
                    You are authenticated as {{ username }}, but are not authorized to
                    access this page. Would you like to login to a different account?
                {% endblocktrans %}
            </p>
        {% endif %}



        <div id="login-container" class="login-box">

            <!-- /.login-logo -->
            <div class="login-box-body" style="padding: 5px">
                <!--<p class="login-box-msg">Sign in to start your session</p>-->
                <div class="login-logo">
                    <img class="image-responsive" src="{% static 'img/logo_pral.png' %}" alt=""> <br>
                    <span style="font-size:0.9em">{% trans "Project Monitoring" %}</span>
                </div>

                {#botones#}
                {% if microsoft_login_enabled %}
                    <div class="center">
                        <p>{% trans 'Log in with' %}</p>
                        <div class="container">
                            <div>
                                <button id="microsoft-login" class="button"
                                        type="button">{{ microsoft_login_type_text }}</button>
                            </div>
                            <div>
                                <p>{% trans 'or' %}</p>
                            </div>
                            <div>
                                <button id="password-login" class="button" type="button">{% trans 'Hummus Password' %}</button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {#form de login#}
                <form id="login-form" action="{{ app_path }}" class="d-none" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        {# username input #}
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="form-row">
                        {# password input #}
                        {{ form.password.errors }}
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>


                    {% url 'admin_password_reset' as password_reset_url %}
                    {% if password_reset_url %}
                        <div class="password-reset-link">
                            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                        </div>
                    {% endif %}
                    <!-- /.col -->
                    <div class="submit-row">
                        <label>&nbsp;</label>
                        <input type="submit" value="{% trans 'login' %}"/>
                    </div>
                    <!-- /.col -->

                </form>

            </div>
            <!-- /.login-box-body -->
        </div>
    </div>

{% endblock %}

{% block  footer %}
    {{ block.super }}

    {% if microsoft_login_enabled %}
        <script type="text/javascript" src="{% static 'microsoft/js/login.js' %}"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded",
                function (event) {
                    window.microsoft.login = new window.microsoft.objects.LoginController({
                        'authorization_url': '{{ microsoft_authorization_url }}'
                    });
                });
        </script>
    {% endif %}
    <script src="{% static 'js/assets/jquery.min.js' %}"></script>
    <script>
        $(function () {
            $('body')
                .on('click', '#password-login', function () {
                    $('#login-form').removeClass('d-none');
                    setTimeout(function () {
                        $('.center').fadeOut('fast');
                    }, 100);

                })
        })
    </script>
{% endblock %}
