/*css class for td */
.field-structure, .field-organization, .field-project, .field-getStartEvent,
.field-getEndEvent, .field-contact, .field-event, .field-project,
.field-name, .column-name {
    white-space: normal !important;
}

/*option tab selected*/
li.changeform-tabs-item a {
    color: #999 !important;
}

li.changeform-tabs-item.selected {
    border-color: #3c8dbc !important;
}

li.changeform-tabs-item.selected a {
    font-weight: bold;
    color: #000 !important;
    font-size: 0.8rem;
}


/*buttons form */
.submit-row input[type="submit"], .submit-row input.default {
    cursor: pointer;
    color: #fff;
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}

a.deletelink {
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}

a.deletelink:hover, a.deletelink:active {
    background-color: #d73925 !important;
}

/*select*/
.related-widget-wrapper span.select2 {
    width: 26% !important;
}

/*button change next or previos */
.changeform-navigation-button.segmented-button:hover > span {
    color: #fff !important;
}

span.changeform-navigation-button-label {
    color: #000 !important;
}

/*tabular inline to tables*/
fieldset.module table thead tr th {
    color: #000 !important;
    background: #fff !important;
}

td.field-is_implementer {
    text-align: center;
}

/*breadcrumbs*/
div.breadcrumbs a {
    color: #00AAA7 !important;
}

/*button tools*/
ul.object-tools li a.addlink, ul.object-tools li a.addlink::before {
    color: #fff !important;
    background-color: #A768F3 !important;
}

div.submit-row input.default, div.actions.initialized > button.button {
    font-weight: 400 !important;
}

div.actions.initialized > button.button {
    background-color: #FF4444 !important;
    border-color: #FF4444 !important;
}

/*buttons with icons*/
a.change-related span {
    color: #0a68a3;
}

a.add-related span {
    color: #87c84c;
}

a.delete-related span {
    color: #dd4b39;
}

/*search input*/
form#changelist-search div input[type="submit"] {
    color: white;
    font-weight: bold;
}

form#changelist-search div input[type="submit"]:hover {
    color: white;
    font-weight: bold;
}

/*helping paragraph*/
p.help {
    color: black !important;
}

.sidebar, #branding {
    background-color: #3A4651;
}

div.breadcrumbs, span.sidebar-container-toggle {
    background-color: #D7DDE4;
    height: 35px;
}

.sidebar-link-label {
    color: #A5AFBB;
    font-size: 16px;
    text-transform: capitalize;
}

.active {
    color: white !important;
    border-left: 3px solid #85CE36;
}
.active .sidebar-link-label{
    color: white;
}

.sidebar-link-label:hover, .sidebar-link:hover .sidebar-right-arrow {
    color: #fff;
}

.sidebar-section {
    border-bottom: 0;
}

.sidebar-right-arrow {
    color: #4f5f6f;
}

#content-main, .changelist-footer {
    background-color: #FFF !important;
    padding: 8px;
}

input[type=submit], input.default, .addlink {
    color: #fff !important;
}

/*textarea from permissions list*/
.related-widget-wrapper span.select2 {
    width: 45% !important;
}

/* title header menu django jet*/
#site-name a{
    color: white !important;
}


@media screen and (max-width: 1097px) {
    .related-widget-wrapper span.select2 {
        width: 60% !important;
    }
}

@media screen and (max-width: 740px) {
    .related-widget-wrapper span.select2 {
        width: 100% !important;
    }
}


