{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_header %}
    <link href="{% static 'css/site.app.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="app" v-cloak data-baseurl="/">
    <div v-if="loading.all">
        <img style="margin:0 auto; display: block" src="{% static 'img/loading.gif' %}" alt="">
    </div>
    <div v-if="!loading.all" class="row" v-cloak>
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-body table-responsive" style="font-size: 12px">
                    <h2 class="text-maroon">{{ modelsAll.length }} Casos Duplicados por Documento</h2>
                    <div class="row">
                        <div class="col-lg-12"><?= $this->render('_filter_form'); ?></div>
                    </div>

                    <div class="col-md-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
<th>{% trans 'Caso N°' %}</th>
<th>{% trans 'Documento' %}</th>
<th>{% trans 'Nombres' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="(model, index) in modelsAll">
                                <tr v-if="(index <= parseInt( modelsAll.length/2))">
                                    <td> {{index}}</td>
                                    <td>{{model.document}} <span class="badge">{{model.cuenta}}</span></td>
                                    <td>
                                        <div v-html="model.name"></div>
                                    </td>
                                    <td>
                                        <button
                                                class="btn btn-xs btn-primary pull-right"
                                                @click="preparingFusionForm(model)"
                                                data-toggle="modal"
                                                data-target="#modal-merge">
                                            Fusionar
                                        </button>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                            <tr>
				<th>{% trans 'Caso N°' %}</th>
				<th>{% trans 'Documento' %}</th>
				<th>{% trans 'Nombres' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="(model, index) in modelsAll">
                                <tr v-if="(index > parseInt( modelsAll.length/2))">
                                    <td> {{index}}</td>
                                    <td>{{model.document}} <span class="badge">{{model.cuenta}}</span></td>
                                    <td>
                                        <div v-html="model.name"></div>
                                    </td>
                                    <td>
                                        <button
                                                class="btn btn-xs btn-primary pull-right"
                                                @click="preparingFusionForm(model)"
                                                data-toggle="modal"
                                                data-target="#modal-merge">
                                            Fusionar
                                        </button>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?= $this->render('_contact_merge_modal'); ?>
</div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'js/assets/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/assets/yii.js' %}"></script>
    <script src="{% static 'js/lib/select2/js/select2.full.js' %}"></script>
    <script src="{% static 'js/lib/select2/js/select2-krajee.js' %}"></script>
    <script src="{% static '/js/lib/alertify/alertify.min.js' %}"></script>
    <script src="{% static 'js/vue/vue2.5.16.js' %}"></script>
    <script src="{% static 'js/vue/comp.select2.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.modules.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.document.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>

{% endblock %}
