{% extends 'dashboard_base.html' %}
{% load static %}
{% load i18n %}
{% block extra_header %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'js/lib/select2/select2.css' %}" rel="stylesheet">
    <link href="{% static 'js/lib/select2/css/select2-addl.css' %}" rel="stylesheet">
    <link href="{% static 'js/lib/select2/css/select2-krajee.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.app.css' %}" rel="stylesheet">
    <link href="{% static '/js/lib/alertify/alertify.core.css' %}" rel="stylesheet">
    <link href="{% static '/js/lib/alertify/alertify.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/skins/_all-skins.min.css' %}" rel="stylesheet">
    <style>
        .bg-blue, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
            background-color: #00AAA7 !important;
        }

        .bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
            background-color: #C1CD23 !important;
        }

        span.select2-container--open {
            background-color: white !important;
        }

        .select2-container .select2-results > .select2-results__options {
            overflow-y: unset;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div id="app" v-cloak data-baseurl="/">
                <div v-if="loading.all">
                    <img style="margin:0 auto; display: block" src="{% static 'img/loading.gif' %}" alt="">
                </div>
                <div v-if="!loading.all" class="row" v-cloak>
                    <div class="col-md-12 ">
                        <div class="panel panel-default">
                            <div class="panel-body table-responsive" style="font-size: 12px">
                                <h2 class="text-maroon">{% verbatim %} {{ modelsNames.length }} {% endverbatim %}
                                    {% trans 'Cases Duplicated by Name' %}</h2>
                                <div class="row">
                                    <div class="col-lg-12">{% include "_filter_form.html" %}</div>
                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                            <tr>
                                                <th>{% trans 'Case N°' %}</th>
                                                <th>{% trans 'Name' %}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% verbatim %}
                                            <template v-for="(model, index) in modelsNames">
                                                <tr v-if="(index <= parseInt( modelsNames.length/2))">
                                                    <td>{{index+1}}</td>
                                                    <td>{{model.name}} <span class="badge">{{model.cuenta}}</span></td>
                                                    <td>
                                                        <button
                                                                class="btn btn-xs btn-primary pull-right"
                                                                @click="preparingFusionForm(model)"
                                                                data-toggle="modal"
                                                                data-target="#modal-merge">
                                                            {% endverbatim %}
                                                            {% trans 'Fuse' %}
                                                            {% verbatim %}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </template>
                                            {% endverbatim %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <table class="table table-bordered table-striped table-condensed">
                                            <thead>
                                            <tr>
                                                <th>{% trans 'Case N°' %}</th>
                                                <th>{% trans 'Name' %}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% verbatim %}
                                            <template v-for="(model, index) in modelsNames">
                                                <tr v-if="(index > parseInt( modelsNames.length/2))">
                                                    <td> {{index+1}}</td>
                                                    <td>{{model.name}} <span class="badge">{{model.cuenta}}</span></td>
                                                    <td>
                                                        <button
                                                                class="btn btn-xs btn-primary pull-right"
                                                                @click="preparingFusionForm(model)"
                                                                data-toggle="modal"
                                                                data-target="#modal-merge">
                                                            {% endverbatim %}
                                                            {% trans 'Fuse' %}
                                                            {% verbatim %}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </template>
                                            {% endverbatim %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "_contact_merge_modal.html" %}
            </div>
        </section>
    </div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'js/assets/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/lib/select2/js/select2.full.js' %}"></script>
    <script src="{% static 'js/lib/select2/js/select2-krajee.js' %}"></script>
    <script src="{% static '/js/lib/alertify/alertify.min.js' %}"></script>
    <script src="{% static 'js/vue/vue2.5.16.js' %}"></script>
    <script src="{% static 'js/vue/comp.select2.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.modules.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script>
        var s2options_d6851687 = {
            "themeCss": ".select2-container--krajee",
            "sizeCss": "",
            "doReset": true,
            "doToggle": false,
            "doOrder": false
        };
        window.select2_de559a6a = {
            "allowClear": true,
            "theme": "krajee",
            "width": "100%",
            "language": "es"
        };
    </script>
    <script>jQuery(function ($) {
        jQuery('#modal-merge').modal({"show": false});
    });</script>
{% endblock %}
