{% extends 'modular_template/base.html' %}
{% load static i18n %}
{% block extra_header %}
    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'alertify/themes/alertify.bootstrap.css' %}" rel="stylesheet">
    <style>
        .select2-container .select2-selection--single {
            height: 36px;
        }
    </style>
{% endblock %}
{% block main_content %}
    <div class="title-block mt-1 text-center">
        <h1 class="title"> {% trans 'Duplicates by document' %} </h1>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div id="app" v-cloak data-baseurl="/" class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div v-if="!loading.all" class="card-header bordered">
                        <div class="header-block">
                            {% verbatim %}
                            <h3 v-if="modelsAll.length > 0" class="title">
                                {{ modelsAll.length }}
                                {% endverbatim %}
                                {% trans 'Cases duplicated by document' %}
                            </h3>
                             {% verbatim %}
                            <h3 v-else class="title">
                                {% endverbatim %}
                                {% trans "No results. Try using filters." %}
                            </h3>
                        </div>
                        <div class="header-block pull-right">
                          {% include 'buttons_dupes.html' %}
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div v-if="loading.all" class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <img style="margin:0 auto; display: block" src="{% static 'img/loading.gif' %}" alt="">
                            </div>
                            <div v-if="!loading.all" class="row" v-cloak style="font-size: 12px">
                                {% include "_filter_form.html" %}

                                <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <table class="table table-sm table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>{% trans 'Case N°' %}</th>
                                                    <th>{% trans 'Document' %}</th>
                                                    <th>{% trans 'Names' %}</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% verbatim %}
                                                <template v-for="(model, index) in modelsAll">
                                                    <tr v-if="(index <= parseInt(modelsAll.length / 2))">
                                                        <td>{{ index + 1 }}</td>
                                                        <td>
                                                            {{model.document}}
                                                            <span class="badge badge-primary">{{model.cuenta}}</span>
                                                        </td>
                                                        <td v-html="model.name">
                                                        </td>
                                                        <td>
                                                            <button
                                                                    class="btn btn-xs btn-primary w-100"
                                                                    @click="preparingFusionForm(model)"
                                                                    data-toggle="modal"
                                                                    data-target="#modal-merge">
                                                                {% endverbatim %}
                                                                {% trans 'Fuse' %}
                                                                {% verbatim %}
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </template>
                                                {% endverbatim %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <table class="table table-sm table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>{% trans 'Case N°' %}</th>
                                                    <th>{% trans 'Document' %}</th>
                                                    <th>{% trans 'Names' %}</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% verbatim %}
                                                <template v-for="(model, index) in modelsAll">
                                                    <tr v-if="(index > parseInt(modelsAll.length / 2))">
                                                        <td> {{index+1}}</td>
                                                        <td>
                                                            {{model.document}}
                                                            <span class="badge badge-primary">{{ model.cuenta }}</span>
                                                        </td>
                                                        <td v-html="model.name">
                                                        </td>
                                                        <td>
                                                            <button
                                                                    class="btn btn-xs btn-primary w-100"
                                                                    @click="preparingFusionForm(model)"
                                                                    data-toggle="modal"
                                                                    data-target="#modal-merge">
                                                                {% endverbatim %}
                                                                {% trans 'Fuse' %}
                                                                {% verbatim %}
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </template>
                                                {% endverbatim %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "_contact_merge_modal.html" %}
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'alertify/alertify.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'js/vue/comp.select2.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.modules.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.document.js' %}"></script>
    <script>jQuery(function ($) {
        jQuery('#modal-merge').modal({"show": false});
    });</script>
{% endblock %}