{% load static %}
{% load i18n %}
<header class="main-header">
    <a href="{% url 'monitoring:dashboard' %}" class="logo" style="background-color: #00AAA7;">
        <span class="logo-mini">{% trans 'LWR' %}</span>
        <span class="logo-lg">{% trans 'LWR' %}</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation" style="background-color: #00AAA7;">

        <a href="#" class="sidebar-toggle" id="icon_menu" data-toggle="push-menu" role="button">
            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        </a>

        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" id="exitOption">
                        <img src="{% static 'img/logo_user_blanco.png' %}"
                             class="user-image"
                             alt="User Image"/>
                        <span class="hidden-xs">{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{% static 'img/logo_user.png' %}" class="img-circle"
                                 alt="User Image"/>
                            <p>
                                {{ request.user.first_name }} {{ request.user.last_name }}
                                <small>{{ request.user.email }}</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            {% if request.user.profile %}
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat"
                                   href="{% url 'admin:monitoring_profile_change' request.user.profile.id %}">{% trans 'Profile' %}</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" href="{% url 'logout' %}"
                                   data-method="post">{% trans 'Log out' %}</a>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
