{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<form action="{% url 'monitoring:import-step1' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    <label for="excel_file">Your file: </label>
    <input id="excel_file" type="file" name="excel_file" >
    <input type="submit" value="Submit">
</form>
<table border="1">
{% for col in columns %}
<th>{{ col.value }}</th>
{% endfor %}
{% for row in data %}
<tr>
    {% for cell in row %}
        <td>{{ cell.value }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
