{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_user.png' %}">
    <title>Hummus</title>
    {% block extra_header %}
    {% endblock %}
</head>
<body class="skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
    {% block content %}
    {% endblock %}

    {% block extra_body %}
    {% endblock %}
</body>
</html>
