{% extends 'modular_template/base.html' %}
{% load static i18n django_tables2 %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'select2/dist/css/select2.min.css' %}">
    <style>
        .select2-container .select2-selection--single {
            height: 36px;
        }

        #input-contact input {
            width: 100%;
        }
    </style>
{% endblock %}
{% block main_content %}

    <div class="title-block mt-1 text-center">
        <h1 class="title"> {% trans 'Export Participants by Project' %} </h1>
    </div>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-block">
                        <form method="GET" id="formFilter">

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <label for="id_date_entry_project_0">{% trans 'From' %}:</label>
                                    <input type="date" name="date_entry_project_min" class="form-control"
                                           id="id_date_entry_project_0">

                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <label for="id_date_entry_project_1">{% trans 'To' %}:</label>
                                    <input type="date" name="date_entry_project_max" class="form-control"
                                           id="id_date_entry_project_1">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="">{{ filter.form.project.label }}:</label>
                                    {{ filter.form.project }}
                                    {{ filter.form.project.helper }}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="">{{ filter.form.organization.label }}:</label>
                                    {{ filter.form.organization }}
                                    {{ filter.form.organization.helper }}
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="">{{ filter.form.contact__country.label }}:</label>
                                    {{ filter.form.contact__country }}
                                    {{ filter.form.contact__country.helper }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12" id="input-contact">
                                    <label for="">{{ filter.form.contact__name.label }}:</label>
                                    {{ filter.form.contact__name }}
                                    {{ filter.form.contact__name.helper }}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 ">
                                    <label for="">&nbsp;</label>
                                    <input id="submit-id-submit" type="submit" class="btn btn-primary w-100"
                                           name="submit"
                                           value="{% trans 'Apply Filter' %}">
                                </div>
                                {% if export_formats %}
                                    <div class="col-lg-3 col-md-3 col-sm-6">
                                        <label for="">&nbsp;</label>
                                        {% for format in export_formats %}
                                            <a href="{% export_url format %}" id="btn-download"
                                               class="btn btn-success w-100 {% if format|lower == 'xlsx' %}disabled{% endif %}">
                                                <i class="fa fa-download"></i> {% trans 'download' %}
                                                <code>.{{ format }}</code>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                        </form>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 table-responsive mt-3">
                                <h5>{% trans 'Contact List Preview' %}</h5>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 table-responsive mt-2" style="height: 600px">
                                {% render_table table %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_body %}
    <script src="{% static "select2/dist/js/select2.full.min.js" %}"></script>

    <script>
        $(function () {
            $('#id_project').select2();
            $('#id_organization').select2();
            $('#id_contact__country').select2();
            //arreglo de parametros importantes a validar
            let important_parameters = ['project', 'contact__country'];
            //obteniendo los parametros del formulario en arreglo de objetos
            let parameters = $('#formFilter').serializeArray();
            //valido si en los parametros del formulario esta incluido un parametro
            //importante con valores para habilitar boton de descarga
            for (const parameter of parameters) {
                if (important_parameters.includes(parameter.name) && parameter.value !== "") {
                    $('#btn-download').removeClass('disabled');
                    break;
                }
            }

        })
    </script>
{% endblock %}
