{% extends 'base.html' %}
{% load static %}
{% load django_tables2 crispy_forms_tags %}
{% block extra_header  %}
    <script src="{% static 'js/assets/jquery.js' %}"></script>
    {{ filter.form.media }}
{% endblock %}
{% block content %}
    {% for format in export_formats %}
        <a href="{% export_url format %}">
            download  <code>.{{ format }}</code>
        </a>
    {% endfor %}
{% crispy filter.form filter.form.helper %}
{% render_table table %}
{% endblock %}
{% block extra_body %}
    {{ filter.form.js }}
{% endblock %}
