{% extends 'base.html' %}
{% load i18n %}
{% block main_content %}
    <section class="section">
        <div class="error-card">
            <div class="error-title-block">
                <h1 class="error-title">403</h1>
                <h2 class="error-sub-title">{% trans 'Authorized Personnel Only' %}</h2>
            </div>
            <div class="error-container">
                <p>{% trans 'Please contact the system administrator to obtain the necessary permissions.' %}</p>
            </div>
        </div>
    </section>
{% endblock %}
