{% extends 'base.html' %}
{% load i18n %}

{% block main_content %}

    <section class="section">
        <div class="error-card">
            <div class="error-title-block">
                <h1 class="error-title">500</h1>
                <h2 class="error-sub-title"> {% trans 'Internal Server Error.' %} </h2>
            </div>
            <div class="error-container">
                <p>{{ exception_type }}: {{ exception_value }}</p>
                <a class="btn btn-primary" href="index.html">
                    <i class="fa fa-angle-left"></i> Back to Dashboard </a>
            </div>
        </div>
    </section>

{% endblock %}
