{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_user.png' %}">
    <title>Hummus</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.app.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/skins/_all-skins.min.css' %}" rel="stylesheet">
    {% block extra_header %}
    {% endblock %}
</head>
<body class="skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
    {% include 'header.html' %}
    {% include 'sidebar.html' %}

    <div class="content-wrapper">
        <section class="content">
            {% block content %}
            {% endblock %}

        </section>
    </div>

    <script src="{% static 'js/assets/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    {% block extra_body %}
    {% endblock %}
</body>
</html>
