{% extends 'modular_template/base.html' %}
{% load static i18n %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/wizard.css' %}">
    <link rel="stylesheet" href="{% static 'jquery.filer/css/jquery.filer.css' %}">

{% endblock %}
{% block main_content %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <section class="multi_step_form">
                    <form id="msform" action="{% url 'monitoring:import-step2' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}

                        {% include 'import/wizard.html' %}
                        <fieldset class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
                                    <h3>{% trans 'Step 1' %}: {% trans 'Upload File' %}</h3>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <a role="button" href="{% url 'monitoring:template-clean' %}"
                                       class="btn btn-pill-left btn-info text-white">
                                        <i class="fa fa-download"></i>
                                        {% trans 'Download Template' %}
                                    </a>
                                    <button type="button" class="btn btn-pill-right btn-primary"
                                            data-toggle="collapse"
                                            data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fa fa-cogs"></i>
                                        {% trans 'Advanced Options' %}
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 ">
                                    <div class="collapse" id="collapseExample">
                                        <div class="form-group row">
                                            <label for="headerrow"
                                                   class="col-lg-3 col-md-3 col-form-label text-right">{% trans 'Header Row:' %}</label>
                                            <div class="col-lg-7 col-md-7">
                                                <input type="number" class="form-control" name="header_row"
                                                       id="headerrow" value="{{ config.HEADER_ROW }}"
                                                       min="1" max="100">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="startrow"
                                                   class="col-lg-3 col-md-3 col-form-label text-right">{% trans 'Data Start Row:' %}</label>
                                            <div class="col-lg-7 col-md-7">
                                                <input type="number" class="form-control" name="start_row"
                                                       id="startrow" value="{{ config.START_ROW }}"
                                                       min="1" max="100">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="typedate"
                                                   class="col-lg-3 col-md-3 col-form-label text-right">{% trans 'Date Format:' %}</label>
                                            <div class="col-lg-7 col-md-7">
                                                <select class="form-control" name="date_format"
                                                        id="typedate">
                                                    <option value="d/m/Y"
                                                            {% if short_date_format == "d/m/Y" %}selected{% endif %}>{% trans 'dd/mm/yyyy' %}</option>
                                                    <option value="m/d/Y"
                                                            {% if short_date_format == "m/d/Y" %}selected{% endif %}>{% trans 'mm/dd/yyyy' %}</option>
                                                    <option value="Y-m-d"
                                                            {% if short_date_format == "Y-m-d" %}selected{% endif %}>{% trans 'yyyy-mm-dd' %}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="language"
                                                   class="col-lg-3 col-md-3 col-form-label text-right">{% trans 'Language:' %}</label>
                                            <div class="col-lg-7 col-md-7">
                                                <select class="form-control" name="language"
                                                        id="language">
                                                    {% for language in languages %}
                                                        <option value="{{ language.value }}"
                                                                {% if request.user.profile.language == language.value %}selected{% endif %}>
                                                            {{ language.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="saveextracolumns"
                                                   class="col-lg-3 col-md-3 col-form-label text-right">{% trans 'Save Extra Columns:' %}</label>
                                            <div class="col-lg-7 col-md-7">
                                                <input type="checkbox" id="saveextracolumns" name="saveextracolumns"
                                                       checked>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="template"
                                                   class="col-lg-3 col-md-3 col-form-label text-right">{% trans 'Template format:' %}</label>
                                            <div class="col-lg-7 col-md-7">
                                                <select class="form-control" name="template"
                                                        id="template">
                                                    {% for template in templates %}
                                                        <option value="{{ template.template_id }}"
                                                                {% if template.template_id == config.DEFAULT_TEMPLATE %}selected{% endif %}>
                                                            {{ template.template_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <input id="excel_file" name="excel_file" type="file"
                                           required accept=".xls,.xlsx">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 text-right">
                                    <button type="submit"
                                            class="btn btn-outline-success">
                                        <i class="fa fa-upload"></i>
                                        {% trans 'Import and Continue' %}
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </section>
                <!-- End Multi step form -->
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'jquery.filer/js/jquery.filer.min.js' %}"></script>
    <script src="{% static 'js/jquery_filer-translations.js' %}"></script>
    <script>
        $(function () {
            $('#excel_file').filer({
                limit: 1,
                showThumbs: true,
                addMore: true,
                allowDuplicates: false
            });
        })
    </script>

{% endblock %}
