{% extends 'dashboard_base.html' %}
{% load static %}
{% load i18n %}
{% block extra_header %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/wizard.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.app.css' %}" rel="stylesheet">
    <link href="{% static '/js/lib/alertify/alertify.core.css' %}" rel="stylesheet">
    <link href="{% static '/js/lib/alertify/alertify.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/js/lib/alertify1.11.1/css/alertify.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/skins/_all-skins.min.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    {% include 'import/wizard.html' %}
                    <div class="tab-content">
                        <div class="tab-pane active container-fluid" role="tabpanel" id="step">
                            <form id="w0">
                                <div class="row">
                                    <div class="col-lg-9 col-lg-offset-1">
                                        <h3 class="text-info pull-left">{% trans 'Process Completed Successfully' %}</h3>
                                    </div>

                                    <div class="col-lg-1">
                                        <a href="{% url 'monitoring:import-step1' %}"
                                           class="btn btn-primary"><i class="fa fa-reply"></i>{% trans 'Go Back' %}</a>
                                    </div>

                                    {% if messages|length > 0 %}
                                        <div class="col-lg-9 col-lg-offset-1 text-left">
                                            <a href="javascript:void(0)"
                                               id="showError">{% trans 'Details about problems in records to import' %}</a>
                                            <div class="d-none text-left" id="divErrors">
                                                <ul style="list-style: none" class="text-left">
                                                    {% for message in messages %}
                                                        <li><strong>{{ message }}</strong></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}


                                    <div class="col-lg-10 col-lg-offset-1">

                                        <div id="app" v-cloak data-baseurl="/" class="row">
                                            <div class="col-lg-10 col-lg-offset-1 table-responsive">

                                                <h3>
                                                    {% verbatim %}
                                                    {{ modelsNames.length }}
                                                    {% endverbatim %}
                                                    {% trans 'Possibly Duplicated Persons Regarding Imported' %}
                                                </h3>

                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>{% trans 'N°' %}</th>
                                                        <th>{% trans 'ID' %}</th>
                                                        <th>{% trans 'Full Name' %}</th>
                                                        <th>{% trans 'Sex' %}</th>
                                                        <th>{% trans 'Document' %}</th>
                                                        <th>{% trans 'Organization' %}</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr v-for="(model, index) in modelsNames">
                                                        {% verbatim %}
                                                        <td>{{ index + 1}}</td>
                                                        <td>{{ model.contact_id }}</td>
                                                        <td>
                                                            {{ model.contact_name }}
                                                        </td>
                                                        <td>{{ model.contact_sex }}</td>
                                                        <td>{{ model.contact_document }}</td>
                                                        <td>{{ model.contact_organization }}</td>
                                                        {% endverbatim %}
                                                        <td>
                                                            {% verbatim %}
                                                            <button type="button"
                                                                    class="btn btn-xs btn-primary pull-right"
                                                                    @click="preparingFusionForm(model)"
                                                                    data-toggle="modal"
                                                                    data-target="#modal-merge">
                                                                {% endverbatim %}
                                                                {% trans 'Fuse' %}
                                                                {% verbatim %}
                                                            </button>
                                                            {% endverbatim %}
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            {% include '_contact_merge_modal.html' %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </section>
    </div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'js/assets/jquery.min.js' %}"></script>
    <script src="{% static '/js/lib/alertify/alertify.min.js' %}"></script>
    <script src="{% static 'js/vue/vue2.5.16.min.js' %}"></script>
    <script>
        var gModels = {{ model|safe }};


        $(function () {
            $('body')
                .on('click', '#showError', function () {
                    if ($('#divErrors').hasClass('d-none')) {
                        $('#divErrors').removeClass('d-none');
                        $('#divErrors').fadeIn();
                    } else {
                        $('#divErrors').addClass('d-none');
                        $('#divErrors').faceOut();
                    }
                })
        })
    </script>
    <script src="{% static 'js/vue/contact.merge.modules.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.import.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/adminlte.min.js' %}"></script>

{% endblock %}
