{% extends 'modular_template/base.html' %}
{% load static i18n %}
{% block extra_header %}
    <link rel="stylesheet" href="{% static 'css/wizard.css' %}">
    <link rel="stylesheet" href="{% static 'alertify/themes/alertify.bootstrap.css' %}">
{% endblock %}
{% block main_content %}
    <section class="section">
        <div id="app" v-cloak data-baseurl="/" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <section class="multi_step_form">
                    <form id="msform">
                        {% include 'import/wizard.html' %}
                        <fieldset class="container">
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <h3 class="text-info">
                                        {% trans 'Process Completed Successfully' %}
                                        {{ quantity_records_created }}{% trans " Records Created" %}
                                        {% trans ' and ' %}
                                        {{ quantity_records_updated }}{% trans " Records Updated" %}
                                    </h3>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <a href="{% url 'monitoring:import-step1' %}"
                                       class="btn btn-primary"><i class="fa fa-reply"></i>{% trans 'Go Back' %}</a>
                                </div>
                            </div>

                            {% if messages_error|length > 0 %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 text-left">
                                        <a href="javascript:void(0)"
                                           id="showError">{% trans 'Details about problems in records to import' %}</a>
                                        <div class="d-none text-left" id="divErrors">
                                            <ul style="list-style: none" class="text-left">
                                                {% for message in messages_error %}
                                                    <li><strong>{{ message }}</strong></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h3>
                                        {% verbatim %}
                                        {{ modelsNames.length }}
                                        {% endverbatim %}
                                        {% trans 'Possibly Duplicated Persons Regarding Imported' %}
                                    </h3>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'N°' %}</th>
                                            <th>{% trans 'ID' %}</th>
                                            <th>{% trans 'Full Name' %}</th>
                                            <th>{% trans 'Sex' %}</th>
                                            <th>{% trans 'Document' %}</th>
                                            <th>{% trans 'Organization' %}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr v-for="(model, index) in modelsNames">
                                            {% verbatim %}
                                            <td>{{ index + 1}}</td>
                                            <td>{{ model.contact_id }}</td>
                                            <td>
                                                {{ model.contact_name }}
                                            </td>
                                            <td>{{ model.contact_sex }}</td>
                                            <td>{{ model.contact_document }}</td>
                                            <td>{{ model.contact_organization }}</td>
                                            {% endverbatim %}
                                            <td class="text-center">
                                                {% verbatim %}
                                                <button type="button"
                                                        class="btn btn-xs btn-primary"
                                                        @click="preparingFusionForm(model)"
                                                        data-toggle="modal"
                                                        data-target="#modal-merge">
                                                    {% endverbatim %}
                                                    {% trans 'Fuse' %}
                                                    {% verbatim %}
                                                </button>
                                                {% endverbatim %}
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </section>
                {% include '_contact_merge_modal.html' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'alertify/alertify.min.js' %}"></script>
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
    <script>
        var gModels = {{ model|safe }};

        $(function () {
            let divErrors = ('#divErrors');
            $('body')
                .on('click', '#showError', function () {
                    if (divErrors.hasClass('d-none')) {
                        divErrors.removeClass('d-none');
                        divErrors.fadeIn();
                    } else {
                        divErrors.addClass('d-none');
                        divErrors.faceOut();
                    }
                })
        })
    </script>
    <script src="{% static 'js/vue/contact.merge.modules.js' %}"></script>
    <script src="{% static 'js/vue/contact.merge.import.js' %}"></script>

{% endblock %}
