{% load static i18n %}
<!-- title_import -->
<div class="title_import">
    <h2>{% trans 'Import Beneficiaries from Excel' %}</h2>
    <p>{% trans 'Upload a file with a list of beneficiaries.' %}</p>
</div>
<!-- progressbar -->
<ul id="progressbar">
    <li class="{% if 'step1' in request.path or 'step2' in request.path or 'step3' in request.path %} active {% endif %}">{% trans 'Upload Documents' %}</li>
    <li class="{% if 'step2' in request.path or 'step3' in request.path %} active {% endif %}">{% trans 'Verify Data & Errors' %}</li>
    <li class="{% if 'step3' in request.path %} active {% endif %}">{% trans 'Finished and Check Duplicates' %}</li>
</ul>