{% extends 'hummus_base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load l10n %}

{% block extra_header %}
    {% leaflet_css %}
    {% leaflet_js %}

    <style>
        #main {
            height: 500px !important;
        }

        .leaflet-control-zoom.leaflet-bar.leaflet-control {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>{{ city.name }}, {{ city.country }}</h1>

                </div>
                <div class="col-lg-12 col-md-12">

                    {% leaflet_map "main" callback="map_init" %}

                </div>
            </div>


{% endblock %}


{% block extra_body %}

    <script type="text/javascript">
        function map_init(map, options) {
            map.zoomControl.setPosition('topright');
            // get point lat and lon
            var lon = "{{ city.location.x|unlocalize }}";
            var lat = "{{ city.location.y|unlocalize }}";
            // zoom to point & add it to map
            map.setView([lat, lon], 12);
            L.marker([lat, lon]).addTo(map);
        }
    </script>

{% endblock %}