{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<p>{% trans 'Name' %}: <a href="{% url 'admin:monitoring_contact_change' object.id %}">{{ object.name }}</a></p>
<p>{% trans 'First Name' %}: {{ object.first_name }}</p>
<p>{% trans 'Last Name' %}: {{ object.last_name }}</p>
<p>{% trans 'Document' %}: {{ object.document }}</p>
<p>{% trans 'Sex' %}: {% trans object.sex.name %}</p>
<p>{% trans 'Education' %}: {% trans object.education.name %}</p>
<p>{% trans 'Country' %}: {{ object.country }}</p>
<p>{% trans 'Projects' %}:</p>
<ul>
{% for row in object.projectcontact_set.all %}
    <li><a href="{% url 'admin:monitoring_project_change' row.project.id %}">{{ row.project.name }}</a></li>
    (<a href="{% url 'admin:monitoring_organization_change' row.organization.id %}">{{ row.organization.name }}</a>)
    {{ row.date_entry_project }}</li>
{% endfor %}
</ul>
{% endblock %}
