{% extends 'modular_template/base.html' %}
{% load leaflet_tags l10n i18n %}
{% block extra_header %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}
{% block main_content %}
    <div class="title-block mt-1 text-center">
        <h1 class="title"> {{ object.name }} </h1>
        <p class="title-description">{% trans "Subproject" %}</p>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card sameheight-item">
                <div class="card-block">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <a href="#GeneralInformation" class="nav-link active" data-target="#GeneralInformation"
                               data-toggle="tab"
                               aria-controls="GeneralInformation" role="tab"
                               aria-selected="true">{% trans 'General Information' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="#SaleForces" class="nav-link" data-target="#SaleForces" aria-controls="SaleForces"
                               data-toggle="tab" role="tab" aria-selected="false">{% trans 'Salesforce data' %}</a>
                        </li>
                        {% if contact_locations %}
                            <li class="nav-item">
                                <a href="#Location" class="nav-link" data-target="#Location" aria-controls="Location"
                                   data-toggle="tab" role="tab" aria-selected="false">{% trans 'Location' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs-bordered">
                        <div class="tab-pane fade in active show" id="GeneralInformation">
                            <p>
                                <strong>Name:</strong>
                                {{ object.name }}
                                <a target='_blank' href='{{ object.salesforce_url }}'>{{ object.code }}</a>
                            </p>
                            <p>
                                <strong>Implementer:</strong>
                                {{ object.organization.name }}
                            </p>
                            <p>
                                <strong>Project:</strong>
                                <a href="{% url 'monitoring:project' pk=object.project.id %}">{{ object.project.name }}</a>
                            </p>
                            <p>
                                <strong>Start:</strong>
                                {{ object.start }}
                            </p>
                            <p>
                                <strong>End:</strong>
                                {{ object.end }}
                            </p>
                        </div>
                        <div class="tab-pane fade" id="SaleForces">
                            <table class="table table-sm table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        <p>{% trans 'Target Direct Men' %}: {{ object.targetmen }}</p>
                                    </td>
                                    <td>
                                        <p>{% trans 'Actual Direct Men' %}: {{ object.actualmen }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{% trans 'Target Direct Women' %}: {{ object.targetwomen }}</p>
                                    </td>
                                    <td>
                                        <p>{% trans 'Actual Direct Women' %}: {{ object.actualwomen }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{% trans 'Target Indirect Men' %}: {{ object.targetimen }}</p>
                                    </td>
                                    <td>
                                        <p>{% trans 'Actual Indirect Men' %}: {{ object.actualimen }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>{% trans 'Target Indirect Women' %}: {{ object.targetiwomen }}</p>
                                    </td>
                                    <td>
                                        <p>{% trans 'Actual Indirect Women' %}: {{ object.actualiwomen }}</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {% if contact_locations %}
                            <div class="tab-pane fade" id="Location">

                                {% localize off %}
                                    <script type="text/javascript">
                                        function map_init_basic(map, options) {
                                            markers = [];
                                            {% for row in contact_locations %}
                                                marker = [{{row.contact.location.y}}, {{row.contact.location.x}}];
                                                L.marker(marker).addTo(map);
                                                markers.push(marker);
                                            {% endfor %}
                                            map.fitBounds([markers]);
                                        }
                                    </script>
                                {% endlocalize %}
                                {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}