{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans '3D' %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_user.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    {% block extra_header %}

    {% endblock %}

</head>
<body>
<div class="main-wrapper">
    <div class="app" {% if request.resolver_match.url_name == 'dashboard' %} id="app" {% endif %}>
        {% include 'modular_template/header.html' %}
        {% include 'modular_template/sidebar.html' %}

        <article class="content dashboard-page">
            {% block main_content %}

            {% endblock %}
        </article>

    </div>
</div>

<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
    var array_colors_lwr = [
        '#04AAAB',
        '#A5D035',
        '#3193DA',
        '#2EBDDC',
        '#3BE4EE',
        '#8FEFBE',
        '#FDF43C',
        '#9524ED',
        '#F019AE',
        '#FDA186',
    ]
</script>

{% block extra_body %}

{% endblock %}

</body>
</html>