{% extends 'modular_template/base.html' %}
{% load static i18n %}

{% block extra_header %}
{% endblock %}

{% block main_content %}
    <div id="app">
        {# filter html #}
        <section class="section">
            <div class="row sameheight-container">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col">
                    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                        <div class="card-header bordered">
                            <div class="header-block">{% trans 'Filters' %}</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <label for="start_date">{% trans 'From' %}</label>
                                    {% verbatim %}
                                    <input v-model="formInputs.desde" type="date"
                                           class="form-control" value=""
                                           id="start_date" name="start_date">
                                    {% endverbatim %}
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <label for="end_date">{% trans 'To' %}</label>
                                    {% verbatim %}
                                    <input v-model="formInputs.hasta" type="date"
                                           class="form-control" value=""
                                           id="end_date" name="end_date">
                                    {% endverbatim %}
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label for="project">{% trans 'Project' %}</label>
                                    {% verbatim %}
                                    <select v-model="formInputs.proyecto" name="project"
                                            class="form-control" id="project">
                                        {% endverbatim %}
                                        {% for project in projects %}
                                            <option value="{{ project.id }}">{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-4">
                                    <button type="button" class="btn btn-primary" v-on:click="loadDataForDashboard">
                                        <i class="fa fa-area-chart"></i>
                                        {% trans 'Graph' %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'modular_template/summary.html' %}
        {% include 'modular_template/graphics.html' %}
        {% include 'modular_template/geographics.html' %}

    </div>
{% endblock %}

{% block extra_body %}
    <script>
        const UrlsAcciones = {
            nombreGrafico: "{% trans "PARTICIPANTS BY ACTIVITY" %}",
            UrlDatosProyecto: "{% url 'monitoring:graphic-proyecto' %}",
            UrlDatosCantidadPaises: "{% url 'monitoring:cantidad-paises' %}",
            UrlDatosCantidadProyectos: "{% url 'monitoring:cantidad-proyectos' %}",
            UrlDatosCantidadSubproyectos: "{% url 'monitoring:cantidad-subproyectos' %}",
            UrlDatosCantidadParticipantes: "{% url 'monitoring:cantidad-participantes' %}",
            UrlDatosPaises: "{% url 'monitoring:graphic-paises' %}",
            UrlDatosRubros: "{% url 'monitoring:graphic-rubros' %}",
            UrlDatosGraficoOrganizaciones: "{% url 'monitoring:grafico-organizaciones' %}",
            UrlDatosProyectosMetas: "{% url 'monitoring:proyectos-metas' %}",
            UrlDatosGraficoAnioFiscal: "{% url 'monitoring:grafico-anio-fiscal' %}",
            UrlDatosGraficoEdad: "{% url 'monitoring:grafico-edad' %}",
            UrlDatosGraficoEducacion: "{% url 'monitoring:grafico-educacion' %}",
            UrlDatosGraficoTipoParticipante: "{% url 'monitoring:grafico-tipo-participante' %}",
            UrlDatosGraficoSexoParticipante: "{% url 'monitoring:grafico-sexo-participante' %}",
            UrlDatosGraficoNacionalidad: "{% url 'monitoring:grafico-nacionalidad' %}",
            UrlDatosGraficoPaisEventos: "{% url 'monitoring:grafico-pais-eventos' %}",
            UrlLogo: "{% static 'img/logo.png' %}",
        };
    </script>
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/dashboard-vue.js' %}"></script>
{% endblock %}