{% extends 'modular_template/base.html' %}
{% load static i18n %}

{% block extra_header %}
    <link rel="stylesheet" href="{% static 'vue-multiselect/dist/vue-multiselect.min.css' %}">
    <style>
        .multiselect__single {
            padding-left: 5px;
            margin-bottom: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .btn-inactive {
            background-color: #0daea1;
            color: #fff;
        }

        ul.multiselect__content {
            border: 1px solid #c8d0da;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div>
        {# filter html #}
        <section class="section">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col">
                    <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                        <div class="card-header card-header-sm bordered">
                            <div class="header-block">
                                <h3 class="title">{% trans 'Filters' %}</h3>
                            </div>
                            <div class="pull-right">
                                <div class="col-12">
                                    <label>
                                        {% verbatim %}
                                        <input v-model="check_filter" class="checkbox" type="checkbox"
                                               value="{{ check_filter }}">
                                        {% endverbatim %}
                                        <span>{% trans 'Filter by Specifics Dates' %}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {# Country options #}
                            <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        {# Note: Filter by fiscal year and quartes #}
                                        {% verbatim %}
                                        <div v-if="!check_filter" class="col-lg-2 col-md-2 col-sm-2">
                                            {% endverbatim %}
                                            <label class="font-weight-bold"
                                                   for="fiscal_year">{% trans 'Fiscal Year' %}:</label>
                                            {% verbatim %}
                                            <vue-multiselect v-model="formInputs.year"
                                                             :options="list_years"
                                                             :searchable="true"
                                                             :max-height="200"
                                                             :show-labels="false"
                                                             :multiple="true"
                                                             {% endverbatim %}
                                                             placeholder="{% trans 'Year' %}" {% verbatim %}>
                                                <template slot="singleLabel" slot-scope="{ option }">
                                                    {{ option }}
                                                </template>
                                            </vue-multiselect>
                                            {% endverbatim %}
                                        </div>
                                        {% verbatim %}
                                        <div v-if="!check_filter" class="col-lg-3 col-md-3 col-sm-3">
                                            {% endverbatim %}
                                            <label class="font-weight-bold control-label"
                                                   for="fiscal_year">{% trans 'Quarter' %}:</label>
                                            <div class="text-center">
                                                {% for num_quarter in '1234'|make_list %}
                                                    <label>
                                                        <input {% verbatim %} v-model="formInputs.quarter"
                                                               {% endverbatim %}
                                                               class="radio"
                                                               :disabled="this.formInputs.year.length <= 0"
                                                               type="radio" value="{{ num_quarter }}">
                                                        <span>{{ num_quarter }}</span>
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        {# Note Filter by dates #}
                                        <div class="col-lg-3 col-md-3 col-sm-3"
                                             :class="{'d-none': !check_filter }">
                                            <label class="font-weight-bold" for="start_date">{% trans 'From' %}:</label>
                                            {% verbatim %}
                                            <input v-model="formInputs.from_date" type="date"
                                                   class="form-control" value=""
                                                   id="start_date" name="start_date">
                                            {% endverbatim %}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3"
                                             :class="{'d-none': !check_filter }">
                                            <label class="font-weight-bold" for="end_date">{% trans 'To' %}:</label>
                                            {% verbatim %}
                                            <input v-model="formInputs.to_date" type="date"
                                                   class="form-control" value=""
                                                   id="end_date" name="end_date">
                                            {% endverbatim %}
                                        </div>

                                        <div class="col">
                                            <label class="font-weight-bold" for="">{% trans "Project" %}:</label>
                                            {% verbatim %}
                                            <vue-multiselect v-model="formInputs.project_id" {% endverbatim %}
                                                             deselect-label="{% trans "Press to remove value selected" %}"
                                                             {% verbatim %}
                                                             track-by="value" label="name" {% endverbatim %}
                                                             placeholder="{% trans 'Write the project name' %}"
                                                             {% verbatim %} :options="list_projects" :searchable="true"
                                                             return="value">
                                                <template slot="singleLabel" slot-scope="{ option }">
                                                    {{ option.name }}
                                                </template>
                                            </vue-multiselect>
                                            {% endverbatim %}
                                        </div>
                                        {# subproject #}
                                        {% verbatim %}
                                        <div v-if="show_subproject" class="col-12">
                                            {% endverbatim %}
                                            <label class="font-weight-bold" for="">{% trans "Subproject" %}:</label>
                                            {% verbatim %}
                                            <vue-multiselect v-model="formInputs.subproject_id" {% endverbatim %}
                                                             deselect-label="{% trans "Press to remove value selected" %}"
                                                             track-by="value" label="name"
                                                             placeholder="{% trans 'Write the subproject name' %}"
                                                             {% verbatim %} :options="list_subprojects"
                                                             :searchable="true"
                                                             return="value">
                                                <template slot="singleLabel" slot-scope="{ option }">
                                                    {{ option.name }}
                                                </template>
                                            </vue-multiselect>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        {% verbatim %}
                                        <div v-if="list_countries.length > 0" v-for="country in list_countries"
                                             class="col-lg-4">
                                            <button type="button" class="btn w-100 icon"
                                                    :class="{ 'btn-inactive': !country.active, 'btn-success': country.active }"
                                                    v-on:click="changeActiveStatusAndFilter(country)">
                                                <i class="fa" :class="{'fa-check':country.active}"></i>
                                                <span>{{ country.name }}</span>
                                            </button>
                                        </div>
                                        {% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        {% verbatim %}
        <div v-if="show_projectgraph"> {% endverbatim %}{% include 'modular_template/project_graph.html' %}</div>
        {% include 'modular_template/graphics.html' %}
        {% include 'modular_template/geographics.html' %}

    </div>
{% endblock %}

{% block extra_body %}

    <script>
        const UrlsAcciones = {
            UrlProjects: "{% url 'monitoring:api-projects' %}",
            UrlQuantityProjects: "{% url 'monitoring:cantidad-proyectos' %}",
            UrlCountries: "{% url 'monitoring:graphic-paises' %}",
            UrlSubProjects: "{% url 'monitoring:api-subproject' %}",
            UrlQuantitySubProjects: "{% url 'monitoring:cantidad-subproyectos' %}",
            UrlProjectGoal: "{% url 'monitoring:proyectos-metas' %}",
            UrlLWRregions: "{% url 'monitoring:api-lwrregions' %}",
            UrlDatosGraficosParticipantes: "{% url 'monitoring:api-participants' %}",
            UrlGraficoEdad: "{% url 'monitoring:grafico-edad' %}",
            UrlGraficoEducacion: "{% url 'monitoring:grafico-educacion' %}",
        };
        let years = {{ years|safe }};
    </script>
    <script src="{% static 'vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'vue-multiselect/dist/vue-multiselect.min.js' %}"></script>
    <script src="{% static 'echarts/dist/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/mixins/graphic.js' %}"></script>
    <script src="{% static 'js/dashboard-vue.js' %}"></script>
{% endblock %}