{% load i18n %}
{# section Geographic Information #}
<div class="title-block mt-4 mb-1 border-0">
    <h1 class="title"> {% trans 'Geographic Information' %} </h1>
</div>
<div class="row sameheight-container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col">
        <div class="card" data-exclude="xs" id="Geographic-Information">
            <div class="card-block container-fluid">
                <div class="row">
                    <div class="col-6">
                        <table class="table table-borderless" style="font-size: 0.8em">
                            <thead>
                            <tr>
                                <th colspan="1" rowspan="2" class="align-middle">{% trans 'Country' %}</th>
                                <th colspan="1" rowspan="2" class="text-center align-middle">{% trans 'Projects' %}</th>
                                <th colspan="1" rowspan="2"
                                    class="text-center align-middle">{% trans 'Subprojects' %}</th>
                                <th colspan="3" rowspan="1"
                                    class="text-center border-bottom-0">{% trans 'Participants' %}</th>
                            </tr>
                            <tr>
                                <th colspan="1" rowspan="1" class="text-center border-top-0">{% trans 'Actual' %}</th>
                                <th colspan="1" rowspan="1" class="text-center border-top-0">{% trans 'Target' %}</th>
                                <th colspan="1" rowspan="1" class="text-center border-top-0">{% trans '%' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% verbatim %}
                            <tr v-for="country in dataTableGeographic">
                                <td>
                                    <span class="bullet-point"></span>
                                    {{ country.name }}
                                </td>
                                <td class="text-right">{{ country.projects }}</td>
                                <td class="text-right">{{ country.subprojects }}</td>
                                <td class="text-right">{{ formatNumber(country.total_participants) }}</td>
                                <td class="text-right">{{ formatNumber(country.total_target) }}</td>
                                <td class="text-right">{{ country.percentage_participants }}</td>
                            </tr>
                            {% endverbatim %}
                            </tbody>
                            <tfoot ng-if="dataTableGeographic.length > 0">
                            <tr>
                                <th>{% trans 'Total' %}</th>
                                {% verbatim %}
                                <th class="text-right">{{ Sum(dataTableGeographic,'projects') }}</th>
                                <th class="text-right">{{ Sum(dataTableGeographic,'subprojects') }}</th>
                                <th class="text-right">{{ Sum(dataTableGeographic,'total_participants') }}</th>
                                <th class="text-right">{{ Sum(dataTableGeographic,'total_target') }}</th>
                                <th></th>
                            </tr>
                            </tfoot>
                            {% endverbatim %}
                        </table>
                    </div>
                    <div class="col-6">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
