{% load i18n %}
{# section Beneficiares Information Graphics #}
<div class="title-block mt-1 text-center">
    <h1 class="title"> {% trans 'Beneficiary Information' %} </h1>
    <p class="title-description"> {% trans 'Graphics' %} </p>
</div>
<div class="row sameheight-container">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-body">
                <div id="TrimestralGraph"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-body">
                <div id="FiscalYearGraph"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-body">
                <div id="SexAgeGraph"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-body">
                <div id="EducationGraph"></div>
            </div>
        </div>
    </div>
</div>