{% load i18n %}
{# section Participants Information Graphics #}
<div class="row sameheight-container- mt-3">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col">
                {% include 'modular_template/summary.html' %}
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col">
                <div class="card" data-exclude="xs">
                    <div class="card-header card-header-sm bordered">
                        <ul role="tablist" class="nav nav-tabs pull-right" id="tab_quarter-click">
                            <li class="nav-item">
                                <a class="nav-link active" href="#fiscalyeartab" role="tab"
                                   data-toggle="tab">{% trans 'Participants by Fiscal Year' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#quartertab" role="tab"
                                   data-toggle="tab">{% trans 'Participants by Quarter' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#metaGeneral" role="tab"
                                   data-toggle="tab">{% trans 'Actual vs Target' %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#GraphSexYearStackedLine" role="tab"
                                   data-toggle="tab">{% trans 'Actual vs Target, by Sex' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div class="tab-content">
                            <div role="tabpanel" class="container-fluid tab-pane active fade show" id="fiscalyeartab">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div id="FiscalYearGraph" style="height: 500px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="container-fluid fade tab-pane" id="quartertab">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div id="TrimestralGraph" style="height: 500px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="container-fluid tab-pane fade show" id="metaGeneral">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="MetaParticipantes" style="height:500px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="container-fluid tab-pane fade show" id="GraphSexYearStackedLine">
                                <div class="row">
                                    <div class="col-12">
                                         <div id="StackedLine" style="height: 500px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col mt-3">
        <div class="card" data-exclude="xs">
            <div class="card-header card-header-sm bordered">
                <ul role="tablist" class="nav nav-tabs pull-right" id="tab_types-click">
                    <li class="nav-item">
                        <a class="nav-link active" href="#GraphBy_Age_Sex" role="tab"
                           data-toggle="tab">{% trans 'Participants by Age and Sex' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#GraphByEducation" role="tab"
                           data-toggle="tab">{% trans 'Participants by Education' %}</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="tab-content">
                    <div role="tabpanel" class="container-fluid tab-pane active fade show" id="GraphBy_Age_Sex">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div id="AgeGraph" style="height: 500px; width: 100%;"></div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div id="SexGraph" style="height: 500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="container-fluid fade tab-pane" id="GraphByEducation">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div id="EducationGraph" style="height: 500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col mt-3">
        <div class="card" data-exclude="xs">
            <div class="card-header card-header-sm bordered">
                <ul role="tablist" class="nav nav-tabs pull-right" id="tabs_target-click">
                    <li class="nav-item">
                        <a class="nav-link active" href="#GraphSexYearDoubleBar" role="tab"
                           data-toggle="tab">{% trans 'Actual vs Target, by Sex(Fixed placement columns)' %}</a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="tab-content">
                    <div role="tabpanel" class="container-fluid tab-pane active fade show" id="GraphSexYearDoubleBar">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div id="FixedColumns" style="height:500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
