{% load static i18n %}
<header class="header">
    <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <icon class="fa fa-user-circle-o"></icon>
                    <span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                </a>
                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% comment %}
                        <a class="dropdown-item" href="{% url 'admin:monitoring_profile_change' request.user.profile.id %}">
                            <i class="fa fa-user icon"></i>
                            {% trans 'Profile' %}
                        </a>
                    {% endcomment %}
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fa fa-power-off icon"></i> {% trans 'Logout' %} </a>
                </div>
            </li>
        </ul>
    </div>
</header>