{% load static i18n %}
<header class="header">
    <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    {% if request.resolver_match.url_name == 'dashboard' %}
        <div class="header-block header-block-buttons">
            {# Regions options #}
            {% trans 'Filter By' %}:
            {% verbatim %}
            <button v-for="region,index in list_lwrregions" type="button" class="btn btn-sm icon m-1"
                    :class="{ 'btn-inactive': !region.active, 'btn-success': region.active,
                    'btn-color-1': (index === 0), 'btn-color-2': (index === 1),
                     'btn-color-3': (index === 2), 'btn-color-4': (index === 3)}"
                    v-on:click="changeActiveStatusAndFilter(region,'region')">
                <i class="fa" :class="{'fa-check': region.active}"></i>
                <span>{{ region.name }}</span>
            </button>

            {% endverbatim %}
        </div>
    {% endif %}

    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:;" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="img"
                         style="background-image: url({% static 'img/logo_user.png' %});"></div>
                    <span class="name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
                </a>
                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item"
                       href="{% url 'admin:monitoring_profile_change' request.user.profile.id %}}">
                        <i class="fa fa-user icon"></i> {% trans 'Profile' %} </a>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fa fa-power-off icon"></i> {% trans 'Logout' %} </a>
                </div>
            </li>
        </ul>
    </div>
</header>