{% load i18n %}
{# section Project Information Graphics #}
<div class="title-block mt-1 text-center">
    <h1 class="title"> {% trans 'Project Goals and scopes' %} </h1>
    <p class="title-description"> {% trans 'Total participants achieved and goals, by sex' %} </p>
</div>
<div class="row sameheight-container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-body">
                <div id="ProjectGoalsGraph"></div>
            </div>
        </div>
    </div>

</div>