{% load i18n %}
{# section Project Information Graphics #}
<div class="title-block mt-4 mb-1 border-0">
    <h1 class="title"> {% trans 'Project Actual vs Target' %} </h1>
    <p class="title-description"> {% trans 'Total of actual participants and targets, by sex' %} </p>
</div>
<div class="row sameheight-container">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col">
        <div class="card sameheight-item items" data-exclude="xs,sm,lg">
            <div class="card-body">
                <div id="ProjectGoalsGraph" style="height: 600px;width: 100%"></div>
            </div>
        </div>
    </div>
</div>
