{% load i18n %}
{# section Project Information Graphics #}
<div class="title-block mt-4 mb-1 border-0">
    <h1 class="title"> {% trans 'Project Actual vs Target' %} </h1>
    <p class="title-description"> {% trans 'Total of actual participants and targets, by sex' %} </p>
</div>
<div class="row">
    <div v-if="formInputs.project_id" class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
        {% include 'modular_template/summary.html' %}
    </div>
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
        <div class="card">
            <div :class="{'d-none': (formInputs.subproject_id === null)}" class="card-header card-header-sm bordered">
                <ul role="tablist" class="nav nav-tabs pull-right" id="tabs_projects-click">
                    <li class="nav-item">
                        <a class="nav-link active" href="#GraphProjectTab" role="tab"
                           data-toggle="tab">{% trans 'Project' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#GraphSubprojectTab" role="tab"
                           data-toggle="tab">{% trans 'Subproject' %}</a>
                    </li>
                </ul>
            </div>
            <div :class="{'card-body': (formInputs.subproject_id === null), 'card-block': (formInputs.subproject_id !== null) }">
                <div :class="{'tab-content': (formInputs.subproject_id !== null) }">
                    <div role="tabpanel" :class="class_tabs_container"
                         id="GraphProjectTab">
                        <div :class="{'row' : (formInputs.subproject_id !== null) }">
                            <div :class="{'col-12' : (formInputs.subproject_id !== null) }">
                                <div id="ProjectGoalsGraph" style="height: 440px;width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" :class="{'d-none': (formInputs.subproject_id === null)}"
                         class="container-fluid tab-pane fade show" id="GraphSubprojectTab">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div id="SubprojectGoalsGraph" style="height:500px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
