{% load static i18n %}
<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <a href="{% url 'monitoring:dashboard' %}" class="text-white" style="text-decoration: none !important;">
                    <div class="logo" style="background-image: url({% static 'img/logo_user.png' %});">
                    </div>
                    3D
                </a>
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                {# 1 dashboard #}
                <li {% if request.resolver_match.url_name == 'dashboard' %}class="active"{% endif %}>
                    <a href="{% url 'monitoring:dashboard' %}">
                        <i class="fa fa-home"></i> {% trans 'Dashboard' %} </a>
                </li>
                {% if query_string %}
                <li {% if request.resolver_match.url_name == 'dashboard' %}class="active"{% endif %}>
                    <a href="{% url 'monitoring:dashboard' %}?{{ query_string }}">
                        <i class="fa fa-home"></i> {% trans 'My Projects' %} </a>
                </li>
                {% endif %}
                {# 2 Import #}
                {% if perms.monitoring.add_contact and perms.monitoring.add_projectcontact and perms.monitoring.change_contact and perms.monitoring.change_projectcontact %}
                    <li {% if 'step' in request.resolver_match.url_name %}class="active"{% endif %}>
                        <a href="{% url 'monitoring:import-step1' %}">
                            <i class="fa fa-upload"></i> {% trans 'Import Participants' %} </a>
                    </li>
                {% endif %}
                {# 3 Participants #}
                {% if perms.monitoring.view_contact or perms.monitoring.add_contact %}
                    <li {% if 'dupe' in request.resolver_match.url_name %}class="active open"{% endif %}>
                        <a href="javascript:;">
                            <i class="fa fa-users"></i>
                            {% trans 'Participants' %}
                            <i class="fa arrow"></i>
                        </a>
                        <ul class="sidebar-nav">
                            {% if perms.monitoring.view_contact or perms.monitoring.add_contact or perms.monitoring.change_contact %}
                                <li>
                                    <a href="{% url 'admin:monitoring_contact_changelist' %}">
                                        {% trans 'Participants' %}
                                    </a>
                                </li>
                            {% endif %}

                            {% if perms.monitoring.change_contact and perms.monitoring.change_projectcontact %}
                                <li {% if 'dupe' in request.resolver_match.url_name %}class="open"{% endif %}>
                                    <a href="javascript:;">
                                        {% trans 'Duplicates' %}
                                        <i class="fa arrow"></i>
                                    </a>
                                    <ul class="sidebar-nav">
                                        <li {% if request.resolver_match.url_name == 'dupes-name' %}class="active open"{% endif %}>
                                            <a href="{% url 'monitoring:dupes-name' %}">
                                                {% trans 'Name' %}
                                            </a>
                                        </li>
                                        <li {% if request.resolver_match.url_name == 'dupes-name-fuzzy' %}class="active open"{% endif %}>
                                            <a href="{% url 'monitoring:dupes-name-fuzzy' %}">
                                                {% trans 'Fuzzy Names' %}
                                            </a>
                                        </li>
                                        <li {% if request.resolver_match.url_name == 'dupes-doc' %}class="active open"{% endif %}>
                                            <a href="{% url 'monitoring:dupes-doc' %}">
                                                {% trans 'Document' %}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {# 4 Export #}
                {% if perms.monitoring.view_projectcontact and perms.monitoring.view_project and perms.monitoring.view_contact and perms.monitoring.view_organization and perms.monitoring.view_country %}
                    <li {% if request.resolver_match.url_name == 'export' %}class="active open"{% endif %}>
                        <a href="javascript:;">
                            <i class="fa fa-print"></i>
                            {% trans 'Reports' %}
                            <i class="fa arrow"></i>
                        </a>
                        <ul class="sidebar-nav">
                            <li {% if request.resolver_match.url_name == 'export' %}class="active"{% endif %}>
                                <a href="{% url 'monitoring:export' %}">
                                    {% trans 'Project Participants' %}
                                </a>
                            </li>

                            {% if perms.monitoring.add_contact and perms.monitoring.add_projectcontact and perms.monitoring.change_contact and perms.monitoring.change_projectcontact %}
                                <li>
                                    <a href="{% url 'monitoring:template-clean' %}">
                                        {% trans 'Clean template' %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {# 5 Data Tables #}
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        {% trans 'Data Tables' %}
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        {% if perms.monitoring.view_project %}
                            <li>
                                <a href="{% url 'admin:monitoring_project_changelist' %}">
                                    {% trans 'Projects' %}
                                </a>
                            </li>
                        {% endif %}

                        {% if perms.monitoring.view_organization or perms.monitoring.view_organizationtype %}
                            <li>
                                <a href="javascript:;">
                                    {% trans 'Organizations' %}
                                    <i class="fa arrow"></i>
                                </a>
                                <ul class="sidebar-nav">
                                    {% if perms.monitoring.view_organization %}

                                        <li>
                                            <a href="{% url 'admin:monitoring_organization_changelist' %}">
                                                {% trans 'List' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if perms.monitoring.view_organizationtype %}
                                        <li>
                                            <a href="{% url 'admin:monitoring_organizationtype_changelist' %}">
                                                {% trans 'Types' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if perms.monitoring.view_sex or perms.monitoring.view_country or perms.monitoring.view_contacttype or perms.monitoring.view_education or perms.monitoring.view_lwrregion %}
                            <li>
                                <a href="javascript:;">
                                    {% trans 'Catalogs' %}
                                    <i class="fa arrow"></i>
                                </a>
                                <ul class="sidebar-nav">
                                    {% if perms.monitoring.view_country %}
                                        <li>
                                            <a href="{% url 'admin:monitoring_country_changelist' %}">
                                                {% trans 'Countries' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if perms.monitoring.view_contacttype %}
                                        <li>
                                            <a href="{% url 'admin:monitoring_organizationtype_changelist' %}">
                                                <span>{% trans 'Contact Types' %}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if perms.monitoring.view_education %}
                                        <li>
                                            <a href="{% url 'admin:monitoring_education_changelist' %}">
                                                <span>{% trans 'Educations' %}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if perms.monitoring.view_sex %}
                                        <li>
                                            <a href="{% url 'admin:monitoring_sex_changelist' %}">
                                                <span>{% trans 'Sex' %}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if perms.monitoring.view_lwrregion %}
                                        <li>
                                            <a href="{% url 'admin:monitoring_lwrregion_changelist' %}">
                                                <span>{% trans 'Regions' %}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        {% if perms.monitoring.view_filter %}
                            <li>
                                <a href="{% url 'admin:monitoring_filter_changelist' %}">
                                    {% trans 'Segmentation' %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {# 6 Security #}
                {% if request.user.is_superuser %}
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-lock"></i>
                            {% trans 'Security' %}
                            <i class="fa arrow"></i>
                        </a>
                        <ul class="sidebar-nav">
                            <li>
                                <a href="{% url 'admin:auth_user_changelist' %}">
                                    {% trans 'Users' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'admin:auth_group_changelist' %}">
                                    {% trans 'Roles' %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'admin:monitoring_profile_changelist' %}">
                                    {% trans 'Profiles' %}
                                </a>
                            </li>

                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>
