{% load i18n %}
{# Summary Projects,Countries,Target Participants,Participants Actual and Subproject #}
<div class="row sameheight-container">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12 stats-col">
        <div class="card sameheight-item stats stats1">
            <div class="card-header card-header-sm bordered">
                <div class="header-block">
                    <h3 class="title">{% trans 'Projects Summary' %}</h3>
                </div>
            </div>
            <div class="card-block">
                <div class="row stats-container">
                    {% verbatim %}
                    <div v-if="!show_projectgraph" class="col-lg-12 col-sm-12 col-md-12 col-xl-12 stat-col">
                        {% endverbatim %}
                        <div class="stat-icon">
                            <i class="fa fa-folder-open text-color-1"></i>
                        </div>
                        <div class="stat">
                            {% verbatim %}
                            <div class="value"> {{ quantity_projects }}</div>
                            {% endverbatim %}
                            <div class="name"> {% trans 'Projects' %}</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12 stat-col">
                        <div class="stat-icon">
                            <i class="fa fa-rocket text-color-2"></i>
                        </div>
                        <div class="stat">
                            {% verbatim %}
                            <div class="value"> {{ quantity_subprojects }}</div>
                            {% endverbatim %}
                            <div class="name"> {% trans 'Subprojects' %}</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12 stat-col">
                        <div class="stat-icon">
                            <i class="fa fa-globe text-color-3"></i>
                        </div>
                        <div class="stat">
                            {% verbatim %}
                            <div class="value"> {{ quantity_countries }}</div>
                            {% endverbatim %}
                            <div class="name"> {% trans 'Countries' %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12 stats-col mt-3">
        <div class="card sameheight-item stats stats1">
            <div class="card-header card-header-sm bordered">
                <div class="header-block">
                    <h3 class="title">{% trans 'Participants Summary' %}</h3>
                </div>
            </div>
            <div class="card-block">
                <div class="row stats-container">
                    <div class="col-lg-12 col-md-12 col-sm-12 stat-col">
                        <div class="stat-icon">
                            <i class="fa fa-users text-color-4"></i>
                        </div>
                        <div class="stat">
                            {% verbatim %}
                            <div class="value"> {{ formatNumber(quantity_participants) }}</div>
                            {% endverbatim %}
                            <div class="name"> {% trans 'Actual Participants' %}</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 stat-col">
                        <div class="stat-icon">
                            <i class="fa fa-flag-checkered text-color-5"></i>
                        </div>
                        <div class="stat">
                            {% verbatim %}
                            <div class="value"> {{ formatNumber(goal_participants) }}</div>
                            {% endverbatim %}
                            <div class="name"> {% trans 'Target Participants' %}</div>
                        </div>
                    </div>
                </div>
                <div class="row stats-container">
                    <div class="col-lg-12 col-md-12 col-sm-12 stat-col">
                        <div class="progress stat-progress" style="margin: 6px -3px -3px 0;">
                            {% verbatim %}
                            <div class="progress-bar" v-bind:style="width_progress_bar"></div>
                            {% endverbatim %}
                        </div>
                        <div class="stat">
                            <div class="name">
                                {% verbatim %}{{ goal_percentage }}{% endverbatim %}{% trans '% of target completed' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
